.clientes tr, th, td{
    border-bottom: 1px solid rgb(5, 3, 113);
    text-align: left;
}

.clientes table{
    width: 40%;
}

.clientes th{
   width: 70px;
   font-weight: bold;
   font-size: 20px;
}

.clientes h1{
    margin-bottom: 20px;
}