.locacao tr, th, td{
    border-bottom: 1px solid rgb(5, 3, 113);
    text-align: left;
}

.locacao table{
    width: 100%;
}

.locacao th{
   font-weight: bold;
   font-size: 20px;
}


.locacao h1{
    margin-bottom: 20px;
}