.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #17191f;
}

.navBar h2 a{
    opacity: 1;
}

.navBar ul{
    display: flex;
    gap: 1rem;
}

.newBtn{
    font-weight: bold;
    border: 1px solid;
    padding: .5rem 1rem;
    border-radius: 1rem;
    opacity: 1;
}